@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular Regular'), local('BebasNeueRegular'),
        url('../fonts/BebasNeueRegular.woff2') format('woff2'),
        url('../fonts/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.header {
    max-width: 100%;
    background-color: #635854;
    border-bottom: 4px solid #3596f5;
}
.container {
    display: flex;/* чтобы элементы хедера располагались в ряд */
    flex-flow: row wrap; /* чтобы список навбара ушел вниз*/
}
.logo-image {
    margin: 1em 0 0 1em;
    order: 5;
}
.navbar {
    order: 20;
}
.navbar-list {
    padding: 0 0.625em;
    list-style: none;
    display: flex; /* чтобы элементы списка располагались в ряд*/
    flex-flow: row wrap; /* чтобы непоместившиеся элементы списка ушли вниз*/
    text-align: center;
    justify-content: space-between;
}
.navbar-list-item {
    margin: 10px 0 0 0;
    padding: 5px 0; /* воздух внутри кнопок навигации */
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 150px; /* одинаковые кнопки навигации*/
    border: 1px solid #fff;
    border-radius: 5px;
}
.navbar-list-item:nth-of-type(odd) {
    margin-right: 10px; /* чтобы отступ был у нечетных кнопок */
}
.navbar-link {
    color: #fff;
    text-decoration: none;
}
.contacts {
    order: 10;
    margin-left: auto;
    margin-right: 1em;
    margin-top: 0.8rem;
}
.contacts-text {
    font-size: 80%;
    color: #fff;
    display: block; /* чтобы текст и номер отображались в 2 ряда */
    text-align: right; /* выравнивание по правому краю */
}
.contacts-phone {
    font-weight: bold;
    margin-top: 0.25em;
    text-decoration: none;
    color: #fff;
}
.main {
    max-width: 100%;
}
.main-image{
    background-color: #635854;
}
.image-home path { /* курсор при наведении на этажи картинки */
cursor: pointer;
}
.home-item {
    opacity: 0;
}
.home-item:hover {
    opacity: 1;
}
.image-home-current-floor {
    opacity: 1;
}
.showroom {
    background-color: #635854;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}
.showroom-title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    color: #fff;
    margin-bottom: 0.5rem;
}
.counter-button {
    background-color: #635854;
    border: none;
}
.counter {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
    color: #fff;
    margin: 2rem; /* отодвигает кнопки от счетчика */
}
.arrow-down {
    transform: rotateX(180deg);
}
.showroom-button {
    font-size: 100%;
    padding: 0.5rem 1rem;
    background-color: #3596f5;
    border-radius: 6px;
    color: #fff;
    border: none;
    margin: 5px 0;
}
@media screen and (min-width: 1200px) {
.container {
    max-width: 67.262%; /* ширина всего контента внутри хедера */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.header-logo {
    margin-top: 1em;
}
.logo-image {
	margin: 0;
}
.navbar-list {
    padding: 0;
    list-style: none;
    display: flex; /* чтобы элементы списка располагались в ряд*/
    flex-flow: row nowrap;
    order: 10;
}
.navbar-list-item {
    margin: 0 2.5em; /* отступ чтобы длина навбара была 700+ */
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border: none;
}
.navbar-list-item:nth-of-type(odd) {
    margin-right: 2.5em; /* чтобы переопределить свойство */
}
.contacts {
    order: 20;
    margin: 0.875em 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: right; /* выравнивание по правому краю */
}
.contacts-text {
    font-size: 0.875em;
}
.main {
    max-width: 67.262%; /* ширина контейнера */
    margin: auto;
    padding-top: 54px;
    display: flex;
}
.main-image {
    background-color: #fff;
}
.image-home { /* размеры картинки svg */
    width: 734px;
    height: 640px;
}
.showroom { /* стиль позволяет выровнять элементы и заполнить весь контейнер равномерно*/
    background-color: #fff;
    flex: 1 1 500px;
}
.showroom-title {
    margin: 0;
    font-size: 2em;
    color: #635854;
}
.arrow-buttons { /* выравнивает стрелки по вертикали вплотную к счетчику */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.counter-button { /* кнопки-стрелки */
    background-color: #fff;
    align-self: center;
    cursor: pointer;
}
.counter {
    font-size: 7.75em;
    color: #635854;
    margin: 1.5rem 0; /* отодвигает кнопки от счетчика */
}
.arrow-down {
    transform: rotateX(180deg);
}
.showroom-button {
    padding: 16px 36px;
    cursor: pointer;
    margin: 5px 0;
}
.modal {
    position: fixed; /*фиксируем позицию, поверх всего экрана */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s;
}
.is-open {
    opacity: 1;
    transform: scale(1);
}
.modal-dialog { /* информационное окно */
    position: relative; 
    max-width: 62.5em;
    min-height: 35em;
    background-color: #fff;
    flex-grow: 1;
    display: flex;
    opacity: 0;
    transform: translateY(-10%);
    transition: transform 0.2s, opacity 0.2s;
    transition-delay: 0.2s;

}
.is-open > .modal-dialog {
    opacity: 1;
    transform: translateY(0);
}
.modal-image {
    background-color: #ebebeb;
    width: 60%;
    text-align: center;
    padding: 50px;
}
.flats path { /* выделенные области каждой квартиры прозрачны*/
    opacity: 0;
    cursor: pointer;
}
path.current-flat {
    opacity: 1;
}
.modal-title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 25px;
}
.modal-info {
    width: 40%;
    padding: 50px 46px;
}
.flat-list {
    padding: 0;
    list-style: none;
    margin-top: 55px;
}
.flat-item {
    margin-bottom: 10px;
}
.flat-link {
    font-size: 1em;
    line-height: 19px;
    color: #635854;
    text-decoration: none;
}
.current-flat-item {
    color:#3596f5;
    text-decoration: underline;
}
.modal-alert {
    font-style: italic;
    font-weight: normal;
    font-size: 1em;
    line-height: 19px;
    color: #635854;
    margin-top: 56px;
}
.modal-close-button {
    position: absolute;
    top: 38px;
    right: 27px;
    cursor: pointer;
    border: none;
    background-color: #fff;
    
}
}
@media (pointer:coarse) {
    .main__image-home path {
    opacity: 0;
}
.main__image-home path:hover {
    opacity: 1;
}
}
