/* 
    Created on : 17 авг. 2021 г., 14:31:01
    Author     : Анастасия
*/
* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.header {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    background-color: #635854;
    border-bottom: 4px solid #3596f5;
}
.header-menu {
    max-width: 80em;
    margin-left: 1em;
    display: flex;
    flex-flow: row wrap;
}
.navbar {
    order: 20;
    margin-right: 6px;
}
.navbar__list {
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-between;
}
.navbar__list-item {
    margin: 10px 10px 0 0;
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 150px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.navbar__link{
    margin: 5px;
    text-decoration: none;
    color: #fff;
}
.header-meanu__contacts {
    order: 10;
    margin-left: auto;
    margin-right: 1em;
}
.header-menu__contacts-text {
    font-size: 0.875em;
    text-align: right;
    display: block;
    color: #fff;
    margin-bottom: 4px;
}
.header-menu__contacts-phone {
    font-weight: 700;
    font-size: 1em;
    text-decoration: none;
    color: #fff;
}
/* PC version */
@media screen and (min-width: 1000px) {
.header-menu {
    margin: auto;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    order: unset;
    margin: 0;
}
.navbar__list { 
    font-size: 1em;
    flex-flow: row nowrap;
}
.navbar__list-item {
    margin: 0 2.5em;
    border: none;
}
.header-meanu__contacts {
    order: unset;
    margin: 0;
}
.header-menu__contacts-text {
    line-height: 16px;
}
.header-menu__contacts-phone {
    font-size: 1.1em;
    line-height: 20px;
}
}